### PART B: Normalize the data

#### Download and Clean Dataset

[Dataset Link](https://cocl.us/concrete_data)

The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them.

The predictors(ingredients) in the data of concrete strength include:

1. **Cement**

2. **Blast Furnace Slag**

3. **Fly Ash**

4. **Water**

5. **Superplasticizer**

6. **Coarse Aggregate**

7. **Fine Aggregate**

In [1]:
# Importing Numpy and Pandas Libraries to read the dataset

import pandas as pd
import numpy as np

In [2]:
# Reading the dataset into a pandas Dataframe

concrete_data = pd.read_csv("concrete_data.csv")
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
# Checking infomation about the DataSet

print(f"Datasetshape is: {concrete_data.shape}")
print(concrete_data.isnull().sum())
concrete_data.describe()

Datasetshape is: (1030, 9)
Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

The data looks very clean and is ready to be used to build model

###### Split Dataset into Preditors and Target

In [4]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [5]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [6]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

### PART B: Normalize the data (5 marks) 

- **Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.**

**How does the mean of the mean squared errors compare to that from Step A?**

###### Normalised version of data

In [7]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [8]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

###### Import Keras

In [9]:
import tensorflow

from tensorflow import keras

from keras.models import Sequential
from keras.layers import Dense

###### Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [10]:
# Define our regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

###### Train and Test the Network

Let's call the function now to create our model.

In [12]:
# build the model

model = regression_model()

Next, we will train the model for 50 epochs

In [13]:
# fit the model

model.fit(X_train, y_train, epochs=50, verbose=2)

Epoch 1/50
23/23 - 2s - loss: 1571.2642 - 2s/epoch - 77ms/step
Epoch 2/50
23/23 - 0s - loss: 1555.2582 - 77ms/epoch - 3ms/step
Epoch 3/50
23/23 - 0s - loss: 1539.0620 - 66ms/epoch - 3ms/step
Epoch 4/50
23/23 - 0s - loss: 1522.6378 - 66ms/epoch - 3ms/step
Epoch 5/50
23/23 - 0s - loss: 1505.3832 - 68ms/epoch - 3ms/step
Epoch 6/50
23/23 - 0s - loss: 1487.7897 - 62ms/epoch - 3ms/step
Epoch 7/50
23/23 - 0s - loss: 1469.0372 - 95ms/epoch - 4ms/step
Epoch 8/50
23/23 - 0s - loss: 1449.6458 - 86ms/epoch - 4ms/step
Epoch 9/50
23/23 - 0s - loss: 1429.0688 - 89ms/epoch - 4ms/step
Epoch 10/50
23/23 - 0s - loss: 1407.0046 - 82ms/epoch - 4ms/step
Epoch 11/50
23/23 - 0s - loss: 1384.1653 - 85ms/epoch - 4ms/step
Epoch 12/50
23/23 - 0s - loss: 1359.7056 - 83ms/epoch - 4ms/step
Epoch 13/50
23/23 - 0s - loss: 1334.5549 - 70ms/epoch - 3ms/step
Epoch 14/50
23/23 - 0s - loss: 1307.5354 - 67ms/epoch - 3ms/step
Epoch 15/50
23/23 - 0s - loss: 1280.0247 - 69ms/epoch - 3ms/step
Epoch 16/50
23/23 - 0s - loss: 1251.1760 - 69ms/epoch - 3ms/step
Epoch 17/50
23/23 - 0s - loss: 1221.1233 - 71ms/epoch - 3ms/step
Epoch 18/50
23/23 - 0s - loss: 1190.2987 - 70ms/epoch - 3ms/step
Epoch 19/50
23/23 - 0s - loss: 1158.5696 - 72ms/epoch - 3ms/step
Epoch 20/50
23/23 - 0s - loss: 1125.6920 - 66ms/epoch - 3ms/step
Epoch 21/50
23/23 - 0s - loss: 1092.5388 - 68ms/epoch - 3ms/step
Epoch 22/50
23/23 - 0s - loss: 1058.3276 - 63ms/epoch - 3ms/step
Epoch 23/50
23/23 - 0s - loss: 1023.4457 - 64ms/epoch - 3ms/step
Epoch 24/50
23/23 - 0s - loss: 988.3572 - 64ms/epoch - 3ms/step
Epoch 25/50
23/23 - 0s - loss: 952.9858 - 64ms/epoch - 3ms/step
Epoch 26/50
23/23 - 0s - loss: 916.9694 - 63ms/epoch - 3ms/step
Epoch 27/50
23/23 - 0s - loss: 881.6052 - 64ms/epoch - 3ms/step
Epoch 28/50
23/23 - 0s - loss: 846.0316 - 62ms/epoch - 3ms/step
Epoch 29/50
23/23 - 0s - loss: 810.9462 - 71ms/epoch - 3ms/step
Epoch 30/50
23/23 - 0s - loss: 776.6735 - 61ms/epoch - 3ms/step
Epoch 31/50
23/23 - 0s - loss: 742.3589 - 66ms/epoch - 3ms/step
Epoch 32/50
23/23 - 0s - loss: 709.4894 - 63ms/epoch - 3ms/step
Epoch 33/50
23/23 - 0s - loss: 676.4493 - 72ms/epoch - 3ms/step
Epoch 34/50
23/23 - 0s - loss: 644.9013 - 64ms/epoch - 3ms/step
Epoch 35/50
23/23 - 0s - loss: 613.9429 - 63ms/epoch - 3ms/step
Epoch 36/50
23/23 - 0s - loss: 584.0496 - 66ms/epoch - 3ms/step
Epoch 37/50
23/23 - 0s - loss: 555.5409 - 86ms/epoch - 4ms/step
Epoch 38/50
23/23 - 0s - loss: 528.4316 - 90ms/epoch - 4ms/step
Epoch 39/50
23/23 - 0s - loss: 502.3835 - 81ms/epoch - 4ms/step
Epoch 40/50
23/23 - 0s - loss: 477.3399 - 84ms/epoch - 4ms/step
Epoch 41/50
23/23 - 0s - loss: 454.4510 - 82ms/epoch - 4ms/step
Epoch 42/50
23/23 - 0s - loss: 432.6034 - 97ms/epoch - 4ms/step
Epoch 43/50
23/23 - 0s - loss: 412.6691 - 91ms/epoch - 4ms/step
Epoch 44/50
23/23 - 0s - loss: 393.6133 - 90ms/epoch - 4ms/step
Epoch 45/50
23/23 - 0s - loss: 376.2675 - 84ms/epoch - 4ms/step
Epoch 46/50
23/23 - 0s - loss: 359.4677 - 82ms/epoch - 4ms/step
Epoch 47/50
23/23 - 0s - loss: 344.2140 - 84ms/epoch - 4ms/step
Epoch 48/50
23/23 - 0s - loss: 330.3458 - 81ms/epoch - 4ms/step
Epoch 49/50
23/23 - 0s - loss: 317.3342 - 83ms/epoch - 4ms/step
Epoch 50/50
23/23 - 0s - loss: 305.3800 - 81ms/epoch - 4ms/step

Next we need to evaluate the model on the test data.

In [14]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 1s 3ms/step - loss: 284.0369
10/10 [==============================] - 0s 3ms/step

284.0368957519531

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [15]:
from sklearn.metrics import mean_squared_error

mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

284.03691914663034 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [16]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE " + str(i+1) + ": " + str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " + str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " + str(epochs) + "\n")
print("Mean: " + str(mean))
print("Standard Deviation: " + str(standard_deviation))

MSE 1: 144.49273681640625
10/10 [==============================] - 0s 2ms/step
MSE 2: 146.42945861816406
10/10 [==============================] - 0s 3ms/step
MSE 3: 103.2083740234375
10/10 [==============================] - 0s 2ms/step
MSE 4: 95.10758209228516
10/10 [==============================] - 0s 2ms/step
MSE 5: 87.09583282470703
10/10 [==============================] - 0s 2ms/step
MSE 6: 87.16259002685547
10/10 [==============================] - 0s 2ms/step
MSE 7: 88.88221740722656
10/10 [==============================] - 0s 3ms/step
MSE 8: 70.29978942871094
10/10 [==============================] - 0s 2ms/step
MSE 9: 76.50054931640625
10/10 [==============================] - 0s 2ms/step
MSE 10: 67.99784088134766
10/10 [==============================] - 0s 2ms/step
MSE 11: 70.08578491210938
10/10 [==============================] - 0s 3ms/step
MSE 12: 64.58624267578125
10/10 [==============================] - 0s 2ms/step
MSE 13: 73.62296295166016
10/10 [==============================] - 0s 2ms/step
MSE 14: 73.44638061523438
10/10 [==============================] - 0s 2ms/step
MSE 15: 56.86621856689453
10/10 [==============================] - 0s 2ms/step
MSE 16: 49.011985778808594
10/10 [==============================] - 0s 2ms/step
MSE 17: 50.75994110107422
10/10 [==============================] - 0s 2ms/step
MSE 18: 51.189029693603516
10/10 [==============================] - 0s 2ms/step
MSE 19: 44.312129974365234
10/10 [==============================] - 0s 2ms/step
MSE 20: 46.37179946899414
10/10 [==============================] - 0s 2ms/step
MSE 21: 41.09765625
10/10 [==============================] - 0s 3ms/step
MSE 22: 42.93537139892578
10/10 [==============================] - 0s 2ms/step
MSE 23: 39.371761322021484
10/10 [==============================] - 0s 2ms/step
MSE 24: 41.631385803222656
10/10 [==============================] - 0s 2ms/step
MSE 25: 43.61747741699219
10/10 [==============================] - 0s 2ms/step
MSE 26: 42.67311477661133
10/10 [==============================] - 0s 2ms/step
MSE 27: 41.09260559082031
10/10 [==============================] - 0s 2ms/step
MSE 28: 40.86280059814453
10/10 [==============================] - 0s 2ms/step
MSE 29: 46.31666946411133
10/10 [==============================] - 0s 3ms/step
MSE 30: 43.631805419921875
10/10 [==============================] - 0s 2ms/step
MSE 31: 42.321372985839844
10/10 [==============================] - 0s 2ms/step
MSE 32: 39.152557373046875
10/10 [==============================] - 0s 3ms/step
MSE 33: 38.008846282958984
10/10 [==============================] - 0s 2ms/step
MSE 34: 44.056907653808594
10/10 [==============================] - 0s 2ms/step
MSE 35: 41.40340805053711
10/10 [==============================] - 0s 2ms/step
MSE 36: 47.357669830322266
10/10 [==============================] - 0s 2ms/step
MSE 37: 42.862422943115234
10/10 [==============================] - 0s 2ms/step
MSE 38: 45.564453125
10/10 [==============================] - 0s 2ms/step
MSE 39: 42.936378479003906
10/10 [==============================] - 0s 2ms/step
MSE 40: 38.75902557373047
10/10 [==============================] - 0s 2ms/step
MSE 41: 45.142784118652344
10/10 [==============================] - 0s 2ms/step
MSE 42: 39.00033187866211
10/10 [==============================] - 0s 2ms/step
MSE 43: 40.2851676940918
10/10 [==============================] - 0s 2ms/step
MSE 44: 46.5496826171875
10/10 [==============================] - 0s 2ms/step
MSE 45: 46.02586364746094
10/10 [==============================] - 0s 2ms/step
MSE 46: 47.35175704956055
10/10 [==============================] - 0s 2ms/step
MSE 47: 42.39375686645508
10/10 [==============================] - 0s 2ms/step
MSE 48: 43.01701736450195
10/10 [==============================] - 0s 2ms/step
MSE 49: 45.72201919555664
10/10 [==============================] - 0s 2ms/step
MSE 50: 48.19771194458008
10/10 [==============================] - 0s 2ms/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 56.73538227243712
Standard Deviation: 24.519706339366607

###### Inference

- The mean of the mean squared errors decrease compared to that from Step A
- Normalizing the input data can be used to tune the model and get better results